~*
target/
build/
dist/
nbproject/private
nbproject/sqe.properties
nbproject/findbugs.settings
test/coverage
test/lib
test/results
tests/work
derby.log
*.class
.DS_Store
*.orig
*.rej
*.tmp
*.swp
tags
gensrc/
.ant-targets-build.xml
.classpath
.project
.externalToolBuilders/
hs_err_pid*.log
external/
apisupport.osgidemo/osgidemo/netbinox/.*$

/Imagine/toolcustomizers/nbproject/
/Imagine/misc-swing/nbproject/
/Imagine/colorchooser/nbproject/